<?php
return array(
    // Uncomment the following to enable browser-based diagnostics
    /*
    'router' => array(
        'routes' => array(
            'zftool-diagnostics' => array(
                 'type' => 'Zend\Mvc\Router\Http\Segment',
                 'options' => array(
                    'route' => '/diagnostics[/:filter[/:label]]',
                    'defaults' => array(
                        'controller' => 'ZFTool\Controller\Diagnostics',
                        'action'     => 'run'
                    )
                )
            )
        )
    ),
    */

);